<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookStoreLIB.Properties.Settings.dbConnectionString"
            connectionString="Data Source=zulu.cspc1.uwindsor.ca;Initial Catalog=BooksAgile6DB17;Persist Security Info=True;User ID=BooksAgile617;Password=BooksAgile617"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>